.header {
  border-bottom: 1px solid;
  border-color: var(--line-color);

        .container {
  display: flex;
  justify-content: space-between;
}
}

.navigation {
  display: flex;
  align-items: center;

.navigation__list {
  display: flex;

  &__item:not(:last-child) {
  margin-right: 50px;
}
}
}
